@import "base.sass"

body
    font-size: 1.5em
    font-family: Monaco, "Helvetica Neue", Helvetica
    color: $font_color
    background: $background_color
    padding: 20px

h1
    font-size: 1.5em
    text-align: center

a
    +link_stan

a:visited
    +link_stan

a:hover
    color: $link_hover
    text-decoration: underline

h2
    text-align: center
    font-size: 0.9em
    padding-top: 20px

.clear
    clear: both

.index
    padding: 20px
    text-align: center
    .projects
        padding: 15px
        font-size: 0.7em
        .new-project
            padding-bottom: 5px
        .project
            

form
    padding: 20px
    text-align: center
    .form-element
        height: 50px
        label
            display: inline-block
            width: 200px
    .title
        input
            font-size: 22px
    .description
        textarea
            font-size: 17px
    .status
        margin-top: 195px
    .save
        display: block
        margin-top: 195px
        input
            width: 50px
            font-size: 15px
    .save-issue
        margin-top: 0px

.project
    .description
        padding-top: 15px
        font-size: 13px
        color: #555
        text-align: center

.controls
    text-align: center
    font-size: 12px
    margin-top: 10px
    div
        text-align: center
        display: inline-block
    .edit, .back-to-project
        border-right: 1px solid #CCC 
        padding-right: 5px
    .delete

.issues
    display: block
    margin: 15px auto
    width: 500px
    .add-issue
        font-size: 15px
        padding: 3px 0px
    .issue
        a
            display: inline-block
            font-size: 13px
            padding: 7px 10px
    hr
        width: 300px
    .open
        a
            background-color: red
            color: #F4F4F4
    .closed
        a
            background-color: yellow
            color: #222222
.issue
    .description
        width: 450px
        margin: 15px auto
        font-size: 15px
.comments
    margin: 0px auto
    width: 450px
    .add-comment
        form
            background-color: #DFDFDF
        .save
            height: auto
            float: right
            margin-top: 40px
    .comment
        margin: 10px 0px
        font-size: 13px
        background-color: #F0F0F0
        padding: 5px
        .created-at
            font-size: 11px
            margin-top: 10px
            text-align: right
            color: #555
.message
    background-color: red
    color: white
    font-size: 10px
    padding: 5px 10px


.footer
    margin-top: 25px
    width: 100%
    text-align: center
    font-size: 13px
    padding-bottom: 10px
