.new-project
    %form{:name => 'project', :action => "/project/save", :method => 'post'}
        .form-element.title
            %label Title
            %input{:id => 'title', :type => 'text', :name => "project[title]"}
        .form-element.description
            %label Description
            %textarea{:id => 'description', :name => "project[description]"}
        .form-element.save
            %input{:type => 'submit', :value => 'Save'}
