%h2 Edit Issue
.edit-issue
    %form{:name => 'issue', :action => "/project/#{@project.nice_url}/issue/#{@project.issues.index(issue)}/update", :method => 'post'}
        = haml :'issue/issue', :layout => false

