.form-element.title
    %label Title
    %input{:id => 'title', :type => 'text', :name => "issue[title]", :value => "#{@issue.title}"}
.form-element.description
    %label Description
    %textarea{:id => 'description', :name => "issue[description]"}
        =@issue.description
.form-element.status
    %label Status
    %select{:id => 'status', :name => "issue[status]"}
        - %w(Open Closed).each do |status|
            - if @issue.status == status
                %option{:value => "#{status}", :selected => 'yes'}
                    =status
            - else
                %option{:value => "#{status}"}
                    =status

.form-element.save
    %input{:type => 'submit', :value => 'Save'}
